[Desktop Entry]
Type=Application
Name=mcpdisp
GenericName=mcpdisp
Comment=Mackie Control Surface Emulator
Icon=mcpdisp
Exec=mcpdisp -geometry 56x3+2000-1
Terminal=false
Categories=AudioVideo;Audio;Midi;
