[Desktop Entry]
Type=Application
Name=mcpdisp
GenericName=mcpdisp
Comment=Mackie Control Surface Emulator
Comment[fr]=Émulateur de surface de contrôle Mackie
Icon=mcpdisp
Exec=mcpdisp -m -t
Terminal=false
Categories=AudioVideo;Audio;Midi;
